@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-400 to-purple-500;
  }
  
  .card-gradient {
    @apply bg-gradient-to-br from-gray-800 to-gray-900;
  }
}
